<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="wwwroot-static" stopProcessing="true">
            <match url="([\S]+[.](png|jpg|jpeg))" />
            <action type="Rewrite" url="/{R:1}" />
          </rule>
          <rule name="Redirect to https" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
          </rule>          
          <rule name="dotnet" stopProcessing="true">
            <match url="^(swagger|api|hangfire).*" />
            <action type="Rewrite" url="dotnet/{R:0}" />
          </rule>
          <rule name="mapToClient">
            <match url=".*" />
            <action type="Rewrite" url="client/{R:0}" />
          </rule>
          <rule name="Root" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            </conditions>
            <action type="Rewrite" url="client/index.html" />
          </rule>
        </rules>
      </rewrite>
      <handlers>
        <add name="aspNetCore" path="dotnet" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Server-SUB.Api.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>